# Discord token for super-bot
DISCORD_TOKEN= 

# Twitter API keys
CONSUMER_KEY= 
CONSUMER_SECRET= 
ACCESS_KEY= 
ACCESS_SECRET= 

# Twitter username of the account used to tweet
TWITTER_USERNAME= 

# Discord channel name where you wish to receive the tweet details
RESPONSE_CHANNEL_NAME= 